body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.button {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: 0.75em 1em;
    color: blue;
    border: 0.15em solid blue;
    border-radius: calc(0.75em + 0.5em + 0.15em);
    transition: 4s;
}
.button:before, .button:after {
    content: '';
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(0, 0, 255, 0.25);
    transition: 4s;
}
.button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}
.button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}
.button:hover, .button:focus {
    color: white;
}
.button:hover:before, .button:focus:before, .button:hover:after, .button:focus:after {
    transform: none;
    background-color: rgba(0, 0, 255, 0.75);
}
